name: Deploy to Salesforce

on:
    pull_request:
        branches:
            - main
        types: [closed]

jobs:
    deploy:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "20"

            - name: Install Salesforce CLI
              run: npm install --global @salesforce/cli

            - name: Authenticate to Org
              run: |
                  echo ${{ secrets.SFDX_DEV_HUB_AUTH_URL }} > ./SFDX_AUTH_URL.txt
                  sf org login sfdx-url --sfdx-url-file ./SFDX_AUTH_URL.txt --alias TargetOrg

            - name: Deploy to Org
              run: sf project deploy start --target-org TargetOrg --wait 30

        #   - name: Run Apex Tests
        #     run: sf apex run test --target-org TargetOrg --test-level RunLocalTests --wait 30
